[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
pillow = "*"
swagger-spec-validator = "*"
django-environ = "*"
serializers = "*"
drf-spectacular = "*"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]
pylint = "*"
pylint-venv = "*"
black = "*"
pre-commit = "*"
commitizen = "*"

[requires]
python_version = "3"
