[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
pillow = "*"
drf-yasg = "*"
swagger-spec-validator = "*"
django-environ = "*"
serializers = "*"

[dev-packages]

[requires]
python_version = "3.8"
